<%= form_for(@micropost) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="micropost_form" >
		<%= f.text_area :content, placeholder: "Create a micropost" %>
	</div>
	<%= f.submit "Post", class: "btn btn-success" %>
<% end %>