<%= provide(:title, 'Home') %>

<div class="hero-unit">
	<h1>Welcome</h1>
	<p>Welcome to my sample application!</p>
	<%= link_to 'Sign up', '#', class: 'btn btn-primary btn-large' %>
</div>

<div class="row">
	<div class="span8">
	</div>

	<div class="span4">
	</div>
</div>