<div id="header">
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="nav pull-right">
			<ul>
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'Sign up', '#' %></li>
				<li><%= link_to 'Sign in', '#' %></li>
			</ul>
		</div>
	</div>
</div>